[submodule "libs/nvm"]
	path = libs/nvm
	url = https://github.com/creationix/nvm.git
[submodule "themes/glyph-patched-fonts"]
	path = themes/nerd-fonts
	url = https://github.com/ryanoasis/nerd-fonts.git
[submodule "scripts/stackshot"]
	path = scripts/stackshot
	url = https://gist.github.com/8574566.git
[submodule "scripts/battery-status"]
	path = scripts/battery-status
	url = https://github.com/tmux-plugins/tmux-battery
[submodule "libs/tpm"]
	path = libs/tpm
	url = https://github.com/tmux-plugins/tpm.git
